html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif, sans-serif;
  background: white;
  width: 100%;
  height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

textarea {
  width: 100%;
}

input.form-control {
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: .375rem 0;
}

input.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid gray;
  transition: border-bottom ease-in-out .5s;
}

input.form-control:read-only {
  background: none;
  border: none;
  margin-bottom: 1px;
}

#alertbox {
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 1;
  transition: all ease-in-out .15s;
}

#alertbox.up {
  transform: translateY(-50%);
  opacity: 0;
}

#alertbox.down {
  transform: translateY(100%);
  opacity: 1;
}

.alert-box-inner {
  left: -50%;
  position: relative;
}

#login {
  width: 300px;
  margin: auto;
  height: 400px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  z-index: 3;
}

.toolbar-empty-space {
  padding: 24px;
}

.welcome {
  color: white !important;
  float: left;
}

.welcome a {
  color: white !important;
  font-weight: bold;
}

.logout {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#bottom-bar .col-sm {
  border: 1px solid lightgray;
}

#bottom-bar a {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #6c757d;
  background: white;
  transition: all ease-in-out .15s;
}

#bottom-bar a:hover {
  background: #f8f9fa;
}

#bottom-bar a.active {
  background: #212529;
  color: white;
}

.bottom-bar-item {
  display: inline-block;
}

.message-item {
  position: relative;
}

.message-item-text {
  transition: height ease-in-out .15s;
  overflow: hidden;
}

.message-item-text-inner {
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 10px;
}

.message-item-text.hide {
  display: none;
}

.message-item-text.show {
  display: block;
}

.message-item-icon,
.message-item-from-at {
  display: inline-block;
  vertical-align: middle;
}

.message-item-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.message-item .message-item-actions i {
  transform: scale(0);
  transition: transform ease-in-out .3s;
  margin-left: 32px;
}

.message-item:hover .message-item-actions i {
  transform: scale(1);
}

.message-item .message-item-actions i:hover {
  transform: scale(1.5);
}

.message-send {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

.message-send-form {
  width: 300px;
  margin: auto;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}