#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: $primary-color;
    box-shadow: 0 0px 10px 0 $shadow;
}

.toolbar-empty-space {
    padding: 32px;
}

.welcome {
    color: white !important;
    float: left;
}

.welcome a {
    color: white !important;
    font-weight: bold;
}

.logout {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    color: white;
}